* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    font-family: 'work sans', sans-serif;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

form {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
}

fieldset {
    padding: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: 16px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 8px;
}

label,
p {
    display: inline-block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

textarea {
    min-height: 100%;   
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 40px;
    padding: 0 4px;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid {
    border-color: red;
}

input[type="text"]:valid,
input[type="number"]:valid,
input[type="email"]:valid {
    border-color: green;
}

button {
    width: 92px;
    height: 32px;
    margin-right: 8px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button[type="reset"]:hover {
    background-color: #f44336;
    color: white;
    border: none;
}